@font-face {
    font-family: "Allura";
    src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf);
}

$font1: Allura, serif;
$font2: Poppins, sans-serif;
$font3: Roboto, sans-serif;
$white1: #EEEEEE;
$grey1: #D3C6BE;
$grey2: #B8B8B8;
$orange1: #A67245;
$black1: #21201E;
$black2: #11171F;

@mixin border {
    border-bottom: $grey2;
    border-style: dashed;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
    cursor: pointer;
}
a {
    color: $black2;
    text-decoration: none;
}

body {
    font-family: $font2;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

span {
    font-family: $font1;
}
.button {
    cursor: pointer;
    background: $black1;
    color: $white1;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 0.9rem;
    padding: 12px 40px;
}