@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  color: #11171F;
  text-decoration: none;
}

body {
  font-family: Poppins, sans-serif;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: #21201E;
}

span {
  font-family: Allura, serif;
}

.button {
  cursor: pointer;
  background: #21201E;
  color: #EEEEEE;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 50px;
  font-size: 0.9rem;
  padding: 12px 40px;
}

header {
  height: 100%;
  width: 100%;
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  padding: 0 5%;
  color: #EEEEEE;
  text-transform: uppercase;
}

header span {
  text-transform: none;
  font-size: 2.5rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: Roboto, sans-serif;
}

header nav .navbar, header nav .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav .navbar li {
  margin: 0 50px;
}

header nav .icons li {
  margin: 0 15px;
}

header nav li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav li:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.container span {
  color: #A67245;
  font-size: 4rem;
}

.container h1 {
  font-size: 4rem;
  letter-spacing: 10px;
}

.container img {
  margin: 20px 0;
}

.container h3 {
  font-family: Roboto, sans-serif;
  letter-spacing: 10px;
  color: #B8B8B8;
}

.our-store {
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background: #EEEEEE;
}

.our-store .store-left {
  height: 90%;
  width: 95%;
  margin: auto auto;
  border: #A67245 dashed 1px;
  padding: 10px;
}

.our-store .store-left span {
  color: #A67245;
  font-size: 3rem;
}

.our-store .store-left h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.our-store .store-left img {
  margin: 20px 0 10px 0;
  border-radius: 50%;
}

.our-store .store-left p {
  font-family: Roboto, sans-serif;
  margin: 20px;
}

.our-store .store-left h4 {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  color: #B8B8B8;
}

.our-store .container-right {
  background: url(/assets/img/store-01.jpg) center/cover;
}

.space {
  width: 100%;
  height: 70vh;
}

main .menu {
  background: url(/assets/img/bg-menu-01.jpg) center/cover;
  height: 45vw;
}

main .menu span {
  display: block;
  color: #A67245;
  font-size: 3rem;
}

main .menu img {
  margin-bottom: 20px;
}

main .menu ul {
  width: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .menu li {
  color: #EEEEEE;
  font-family: Roboto, sans-serif;
  border-bottom: #EEEEEE 1px solid;
  height: 35px;
}

main .menu .menu-abs {
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

main .menu .container {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
      grid-template-areas: "a b" "c d" "e f" "g h";
  background: #EEEEEE;
  margin-top: 20px;
  border-top: 4px #A67245 solid;
}

main .menu .container .italian-source-mushroom {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

main .menu .container .tenu-roast-source {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

main .menu .container .salted-fried-chicken {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: e;
}

main .menu .container .imported-salmon-steak {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: g;
}

main .menu .container .fried-potatoes-with-garlic {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: b;
}

main .menu .container .roast-pork {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: d;
}

main .menu .container .crab-with-curry-sources {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: f;
}

main .menu .container .baked-potato-pizza {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: h;
}

main .menu .container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 15px;
  border-bottom: 1px dashed #A67245;
}

main .menu .container div .container-block {
  display: block;
  border: none;
}

main .menu .container div img {
  border-radius: 50px;
}

main .menu .container div h3 {
  text-transform: uppercase;
  color: #11171F;
  font-family: Roboto, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

main .menu .container div h4 {
  font-family: Roboto, sans-serif;
  color: #21201E;
  font-weight: 100;
}

main .menu .container div h5 {
  font-family: Roboto, sans-serif;
  color: #A67245;
  font-size: 1.3rem;
}

main .reservation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  width: 70%;
  margin: 70px auto;
}

main .reservation .reservation-left {
  background: #080808;
  padding: 25px;
}

main .reservation .container {
  margin: auto auto;
  border: #B8B8B8 dashed 1px;
  padding: 30px;
}

main .reservation .container span {
  font-size: 3rem;
}

main .reservation .container h2 {
  text-transform: uppercase;
  color: #EEEEEE;
}

main .reservation .container h3 {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #A67245;
  margin: 35px 0;
}

main .reservation .container h4 {
  color: #D3C6BE;
  font-family: Roboto, sans-serif;
}

main .reservation .reservation-right {
  background: #EEEEEE;
  padding: 40px;
}

main .reservation .reservation-right span {
  font-size: 3rem;
  color: #A67245;
}

main .reservation .reservation-right h2 {
  text-transform: uppercase;
  color: #080808;
  margin-bottom: 40px;
}

main .reservation .reservation-right img {
  margin-bottom: 40px;
}

main .reservation .reservation-right .form1, main .reservation .reservation-right .form2 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

main .reservation .reservation-right .form2 {
  margin-bottom: 100px;
}

main .reservation .reservation-right .form2 input {
  color: #21201E;
  opacity: 0.7;
}

main .reservation .reservation-right input, main .reservation .reservation-right select {
  width: 20%;
  background: none;
  border: none;
  border-bottom: 1px solid #D3C6BE;
  padding: 15px 0;
  outline: none;
  margin: 0 30px;
}

main .reservation .reservation-right input[type="time"] {
  height: 48px;
}

main .our-event {
  margin-top: 150px;
}

main .our-event span {
  font-size: 3rem;
  color: #A67245;
}

main .our-event h2 {
  text-transform: uppercase;
  color: #EEEEEE;
}

main .our-event img {
  margin: 50px 0;
}

main .our-event .grid {
  width: 50%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "a b" "c b";
  gap: 15px;
}

main .our-event .adress-and-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  margin: 20px 0;
  font-family: Roboto, sans-serif;
  color: #B8B8B8;
}

main .our-event a {
  text-transform: uppercase;
  color: #21201E;
}

main .our-event .left1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

main .our-event .left1 .date {
  background: url(/assets/img/event-01.jpg) center/cover;
  position: relative;
}

main .our-event .left1 .date .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #21201E;
  padding: 15px;
  text-align: left;
}

main .our-event .left1 .date .container h3 {
  letter-spacing: 1px;
  font-family: Roboto, sans-serif;
  color: #EEEEEE;
}

main .our-event .left1 .date .container h4 {
  color: #D3C6BE;
  font-family: Roboto, sans-serif;
  font-size: 0.7rem;
}

main .our-event .left1 .infos {
  background: #EEEEEE;
  text-align: left;
  padding: 20px;
}

main .our-event .left1 .infos h4 {
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  color: #21201E;
}

main .our-event .left2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

main .our-event .left2 .date {
  background: url(/assets/img/event-02.jpg) center/cover;
  position: relative;
}

main .our-event .left2 .date .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #21201E;
  padding: 15px;
  text-align: left;
}

main .our-event .left2 .date .container h3 {
  letter-spacing: 1px;
  font-family: Roboto, sans-serif;
  color: #EEEEEE;
}

main .our-event .left2 .date .container h4 {
  color: #D3C6BE;
  font-family: Roboto, sans-serif;
  font-size: 0.7rem;
}

main .our-event .left2 .infos {
  background: #EEEEEE;
  text-align: left;
  padding: 20px;
}

main .our-event .left2 .infos h4 {
  font-family: Roboto, sans-serif;
  letter-spacing: 1px;
  color: #21201E;
}

main .our-event .right {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: b;
  background: url(/assets/img/event-03.jpg) center/cover;
  padding: 20px;
}

main .our-event .right .container {
  background: #EEEEEE;
  height: 100%;
  width: 95%;
  margin: auto auto;
}

main .our-event .right .container .date-container {
  width: 25%;
  margin: 0 auto;
  background: #21201E;
  color: #EEEEEE;
  padding: 10px;
  margin-bottom: 20px;
}

main .our-event .right .container .date-container h3 {
  letter-spacing: 1px;
  font-family: Roboto, sans-serif;
  color: #EEEEEE;
}

main .our-event .right .container .date-container h4 {
  color: #D3C6BE;
  font-family: Roboto, sans-serif;
  font-size: 0.7rem;
}

main .our-event .right h4 {
  font-family: Roboto, sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
}

main .our-event .right .adress-and-time {
  font-size: 0.7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

main .map .empty {
  height: 10vh;
  position: relative;
}

main .map .quote {
  background: #EEEEEE;
  width: 50%;
  margin: 0 auto;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

main .map .quote img {
  width: 100px;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .map .quote .marks1 {
  padding-top: 70px;
  font-weight: 950;
  font-size: 3rem;
  font-family: Roboto, sans-serif;
}

main .map .quote .marks2 {
  padding-bottom: 30px;
  font-weight: 950;
  font-size: 3rem;
  font-family: Roboto, sans-serif;
}

main .map .quote p {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 30px;
}

main .map .quote h3 {
  font-family: Roboto, sans-serif;
  padding-bottom: 30px;
}

main .map .quote h5 {
  font-family: Roboto, sans-serif;
  color: #A67245;
  padding-bottom: 50px;
}

main .map .bg {
  width: 100%;
  height: 80vh;
  background: url(/assets/img/gmap.jpg) center/cover;
}
/*# sourceMappingURL=index.css.map */